html, body {
    height: 100%;
    background: #eee;
}

a{
    text-decoration: none;
    color: #000;
    outline: none;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
    background-color: transparent;
}
}
body {
    overflow: hidden;
    font-size: 16px;
    font-family: 'Zodiak-Variable';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

.nav-link_item{
    text-transform: uppercase;
    position: fixed;
    z-index: 5;
}
.nav-link_item a{
    padding: 1.15vw 1.4vw;
}

.nav-link_item.top-left {
    top: 2vw;
    left: 3.5vw;
}
.nav-link_item.top-right {
    top: 2vw;
    right: 3.5vw;
}
.nav-link_item.bottom-left {
    bottom: 2vw;
    left: 3.5vw;
}
.nav-link_item.bottom-right {
    bottom: 2vw;
    right: 3.5vw;
}

.scroll-animations-example {
    > .scrollsection {
        padding: 20vh 10vh 10vh 10vmax;
        min-width: 550vh;
    }

    > .scrollsection > .item {
        display: inline-block;
        position: relative;
        margin: 0 3vh 0 3vh;
    }

    > .scrollsection > .item::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    > .scrollsection > .item.-big {
        height: 60vh;
        width: 60vh;
    }

    > .scrollsection > .item.-big.-horizontal {
        height: 80vh;
        width: 80vh;
    }

    > .scrollsection > .item.-normal {
        height: 45vh;
        width: 45vh;
        z-index: 1;
    }

    > .scrollsection > .item.-normal.-horizontal {
        height: 60vh;
        width: 60vh;
    }

    > .scrollsection > .item.-small {
        height: 30vh;
        width: 30vh;
        z-index: 2;
    }

    > .scrollsection > .item.-small.-horizontal {
        height: 30vh;
        width: 40vh;
    }

    > .scrollsection > .item > .image {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transform: translateX(0) translateY(0) scale(1);
        transition:
            opacity 1s ease,
            transform 1s ease;
    }

    > .scrollsection > .item > .image.-active {
        transform: translateX(0) translateY(0) scale(1);
        opacity: .9;
        pointer-events: auto;
        transition:
            opacity 1s ease,
            transform 1s ease;
    }

    > .scrollsection > .item > .image.-clicked {
        transform: translateX(0) translateY(0) scale(5);
        opacity: 0;
        pointer-events: auto;
        transition:
            opacity 1s ease,
            transform 1s ease;
    }

    > .scrollsection > .item > .image.-active:hover {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        cursor: pointer;
    }
}
